# Merging Global M2 Data with Other Data set

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import requests

In [ ]:
# Load CSVs into Pandas DataFrames
japan_df = pd.read_csv("japan_m2.csv")
china_df = pd.read_csv("china_m2.csv")
europe_df = pd.read_csv("euro_m2.csv")
brazil_df = pd.read_csv("Brazil_m2.csv")
canada_df = pd.read_csv("Canada_m2.csv")
russia_df = pd.read_csv("Russia_m2.csv")
india_df = pd.read_csv("India_m2.csv")

# Display the first few rows
china_df.head()

         time         close
0  1180656000  4.942045e+12
1  1183248000  5.051925e+12
2  1185926400  5.111109e+12
3  1188604800  5.212491e+12
4  1191196800  5.254742e+12

In [ ]:
china_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    213 non-null    int64
 1   close   213 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 3.5 KB

In [ ]:
india_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    300 non-null    int64
 1   close   300 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 4.8 KB

In [ ]:
# Load existing merged dataset (US M2 & Bitcoin price)
merged_data = pd.read_csv("merged_data.csv")

In [ ]:
# Convert Unix timestamp to datetime & rename columns
for df, name in zip([japan_df, china_df, europe_df, brazil_df, india_df, russia_df, canada_df], ["japan", "china", "europe", "brazil", "india", "russia", "canada"]):
    df['time'] = pd.to_datetime(df['time'], unit='s')  # Convert timestamp to datetime
    df.rename(columns={'time': 'date', 'close': f"{name}_m2"}, inplace=True)  # Rename 'close'
    df.set_index('date', inplace=True)  # Set index to 'date'

# Ensure merged_data has 'date' as an index
merged_data['date'] = pd.to_datetime(merged_data['date'])
merged_data.set_index('date', inplace=True)

# Merge Global M2 Data with merged_data
final_merged = merged_data.join([japan_df, china_df, europe_df, brazil_df, india_df, russia_df, canada_df], how='outer')

# Reset index so 'date' is a column
final_merged.reset_index(inplace=True)

# Save to CSV for reference
final_merged.to_csv("final_merged_data.csv", index=False)

# Display final merged dataset
final_merged.head()

,date,btc_price,m2_supply,cpi,ppi,fed_funds_rate,sp500,nasdaq,btc_volume,japan_m2,china_m2,europe_m2,brazil_m2,india_m2,russia_m2,canada_m2
0,2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.698342e+11,NaN,NaN,NaN
1,2000-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.614940e+11,3.429370e+12,NaN,4.831380e+11
2,2000-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.914740e+12,NaN,3.992535e+12,2.614270e+11,3.468370e+12,7.684000e+11,4.868890e+11
3,2000-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.951101e+12,NaN,3.801179e+12,2.597930e+11,3.549760e+12,8.025000e+11,4.907930e+11
4,2000-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.914387e+12,NaN,3.874252e+12,2.598498e+11,3.566770e+12,8.501000e+11,4.911870e+11

In [ ]:
print(final_merged.isnull().sum())

date                 0
btc_price          180
m2_supply          180
cpi                180
ppi                180
fed_funds_rate     180
sp500              181
nasdaq             181
btc_volume         180
japan_m2          3621
china_m2          3708
europe_m2         3621
brazil_m2         3621
india_m2          3621
russia_m2         3621
canada_m2         3621
dtype: int64

In [ ]:
final_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3921 entries, 0 to 3920
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            3921 non-null   datetime64[ns]
 1   btc_price       3741 non-null   float64
 2   m2_supply       3741 non-null   float64
 3   cpi             3741 non-null   float64
 4   ppi             3741 non-null   float64
 5   fed_funds_rate  3741 non-null   float64
 6   sp500           3740 non-null   float64
 7   nasdaq          3740 non-null   float64
 8   btc_volume      3741 non-null   float64
 9   japan_m2        300 non-null    float64
 10  china_m2        213 non-null    float64
 11  europe_m2       300 non-null    float64
 12  brazil_m2       300 non-null    float64
 13  india_m2        300 non-null    float64
 14  russia_m2       300 non-null    float64
 15  canada_m2       300 non-null    float64
dtypes: datetime64[ns](1), float64(15)
memory usage: 490.3 KB

In [ ]:
final_merged.fillna(method='ffill', inplace=True)  # Forward fill missing data

<ipython-input-10-b763265f07a1>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  final_merged.fillna(method='ffill', inplace=True)  # Forward fill missing data

In [ ]:
print(final_merged.columns)

Index(['date', 'btc_price', 'm2_supply', 'cpi', 'ppi', 'fed_funds_rate',
       'sp500', 'nasdaq', 'btc_volume', 'japan_m2', 'china_m2', 'europe_m2',
       'brazil_m2', 'india_m2', 'russia_m2', 'canada_m2'],
      dtype='object')

In [ ]:
final_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3921 entries, 0 to 3920
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            3921 non-null   datetime64[ns]
 1   btc_price       3741 non-null   float64
 2   m2_supply       3741 non-null   float64
 3   cpi             3741 non-null   float64
 4   ppi             3741 non-null   float64
 5   fed_funds_rate  3741 non-null   float64
 6   sp500           3740 non-null   float64
 7   nasdaq          3740 non-null   float64
 8   btc_volume      3741 non-null   float64
 9   japan_m2        3919 non-null   float64
 10  china_m2        3832 non-null   float64
 11  europe_m2       3919 non-null   float64
 12  brazil_m2       3921 non-null   float64
 13  india_m2        3920 non-null   float64
 14  russia_m2       3919 non-null   float64
 15  canada_m2       3920 non-null   float64
dtypes: datetime64[ns](1), float64(15)
memory usage: 490.3 KB

In [ ]:
final_merged['date'].value_counts().sort_index()

date
2000-01-01    1
2000-02-01    1
2000-03-01    1
2000-04-01    1
2000-05-01    1
             ..
2025-03-25    1
2025-03-26    1
2025-03-27    1
2025-03-28    1
2025-03-29    1
Name: count, Length: 3921, dtype: int64

In [ ]:
final_merged.isna().sum()

date                0
btc_price         180
m2_supply         180
cpi               180
ppi               180
fed_funds_rate    180
sp500             181
nasdaq            181
btc_volume        180
japan_m2            2
china_m2           89
europe_m2           2
brazil_m2           0
india_m2            1
russia_m2           2
canada_m2           1
dtype: int64

In [ ]:
#drop null value rows
final_merged.dropna(inplace=True)

In [ ]:
final_merged.isna().sum()

date              0
btc_price         0
m2_supply         0
cpi               0
ppi               0
fed_funds_rate    0
sp500             0
nasdaq            0
btc_volume        0
japan_m2          0
china_m2          0
europe_m2         0
brazil_m2         0
india_m2          0
russia_m2         0
canada_m2         0
dtype: int64

In [ ]:
final_merged['date'].value_counts().sort_index()

date
2015-01-02    1
2015-01-03    1
2015-01-04    1
2015-01-05    1
2015-01-06    1
             ..
2025-03-25    1
2025-03-26    1
2025-03-27    1
2025-03-28    1
2025-03-29    1
Name: count, Length: 3740, dtype: int64

In [ ]:
final_merged.to_csv('final_merged_data.csv', index=False)

In [ ]:
from google.colab import files
files.download('final_merged_data.csv')